

        <section class="index_t_img">
            <h2>사랑하는 가족 연인 친구와 함께 즐기는 <span>대한민국 대표 야시장</span>
            <p>‘서문시장 야시장’  대구와 함께라면 그날이 곧 <span>파티다!</span></p>
            </h2>
        </section>
        <section class="vedio_wrap scroll">
            <div class="txt">
                <p class="up_txt">언제 어디에 있든 현장에 있는 듯한 느낌!</p>
                <p class="down_txt">오감을 충족하는 Fantastic <span>Seomun Night Market</span></p>
            </div>
            <article class="vedio">
                <div class="vedio_nt">
                    <div>
                        <span class="vedio_up">즐거운 축제 오기 전
                            눈과 귀로 먼저!</span>
                        <span class="vedio_down">#생동감  #즐거움  #야시장</span>
                    </div>
                </div>
                <div class="youtube">
                    <iframe src="https://www.youtube.com/embed/OdQ_ya1SF24"></iframe>
                </div>
            </article>
        </section>
        <section class="info_wrap scroll">
            <div class="txt">
                <p class="up_txt">오감만족! 육감충족! 밤의 즐거움이 한자리에!</p>
                <p class="down_txt">서문시장 야시장과 함께하는<span>夜한 대구여행</span></p>
            </div>
            <article class="main_info">
                <figure>
                    <a href="http://www.nightseomun.com/html/base.php?url=html_04">
                        <div class="info_img1">
                        </div>
                        <figcaption>
                            <p class="t_figure">야시장 소개</p>
                            <p class="b_figure">밤마다 펼쳐지는 <span>버라이티 한 세상!</span></p>
                        </figcaption>
                    </a>
                </figure>
                <figure>
                    <a href="http://www.nightseomun.com/html/base.php?url=html_01">
                        <div class="info_img2">
                        </div>
                        <figcaption>
                            <p class="t_figure">시장 안내</p>
                            <p class="b_figure">대구 전통시장 <span>서문시장을 만나보세요!</span></p>
                        </figcaption>
                    </a>
                </figure>
                <figure>
                    <a href="http://www.nightseomun.com/html/base.php?url=html_07">
                        <div class="info_img3">
                        </div>
                        <figcaption>
                            <p class="t_figure">먹거리 살거리</p>
                            <p class="b_figure">눈과 입이 즐거운 <span>서문시장야시장</span></p>
                        </figcaption>
                    </a>
                </figure>
                <figure>
                    <a href="http://www.nightseomun.com/html/base.php?url=html_10">
                        <div class="info_img4">
                        </div>
                        <figcaption>
                            <p class="t_figure">볼거리</p>
                            <p class="b_figure">오감만족의 완성!<span>날마다 즐거운 행사</span></p>
                        </figcaption>
                    </a>
                </figure>
            </article>
        </section>
        <section class="news_wrap swiper mySwiper scroll">
            <div class="txt">
                <p class="up_txt">띵동! 새로운 소식 도착!</p>
                <p class="down_txt">맛있는 먹거리부터 즐거운 축제까지<span>다양한 소식들</span></p>
            </div>
            <article class="news">
                <!-- article에 swiper-wrapper class주기 -->
                <!-- <div class="swiper-slide">
                    <div class="imgBox">
                        <a href="http://www.ohmynews.com/NWS_Web/View/at_pg.aspx?CNTN_CD=A0002785335">
                            <img src="./img/news_img1.jpg">
                        </a>
                        <p class="t_figure">대구 대표 야시장에서<span>'오징어게임' 참여하세요</span></p>
                        <p class="b_figure">MORE ></p>
                    </div>
                </div> -->
                <!-- <figure class="swiper-slide">
                    <a href="http://www.ohmynews.com/NWS_Web/View/at_pg.aspx?CNTN_CD=A0002785335">
                        <div class="news_img1">
                        </div>
                        <figcaption>
                            <p class="t_figure">대구 대표 야시장에서<span>'오징어게임' 참여하세요</span></p>
                            <p class="b_figure">MORE ></p>
                        </figcaption>
                    </a>
                </figure> -->
                <figure>
                    <a href="http://www.ohmynews.com/NWS_Web/View/at_pg.aspx?CNTN_CD=A0002785335">
                        <div class="news_img1"></div>
                        <figcaption>
                            <p class="t_figure">대구 대표 야시장에서<span>'오징어게임' 참여하세요</span></p>
                            <p class="b_figure">MORE ></p>
                        </figcaption>
                    </a>
                </figure>
                <figure>
                    <a href="https://news.mt.co.kr/mtview.php?no=2018020400570682447">
                        <div class="news_img2"></div>
                        <figcaption>
                            <p class="t_figure">전통과 현대의 '멋'이 어루어진<span>국내 전통시장 어디?</span></p>
                            <p class="b_figure">MORE ></p>
                        </figcaption>
                    </a>
                </figure>
                <figure>
                    <a href="http://www.newsfreezone.co.kr/news/articleView.html?idxno=49077">
                        <div class="news_img3"></div>
                        <figcaption>
                            <p class="t_figure">대구 서문시장에서 펼쳐지는<span>'2018년도 제2회 서문가요제'</span></p>
                            <p class="b_figure">MORE ></p>
                        </figcaption>
                    </a>
                </figure>
                <figure>
                    <a href="https://www.yna.co.kr/view/AKR20180510136100053">
                        <div class="news_img4"></div>
                        <figcaption>
                            <p class="t_figure">서문 야시장 먹거리 '안전'<span>식중독균 불검출</span></p>
                            <p class="b_figure">MORE ></p>
                        </figcaption>
                    </a>
                </figure>
                <figure class="de_none">
                    <a href="http://www.yeongnam.com/mnews/newsview.do?mode=newsView&newskey=20180621.010080726470001">
                        <div class="news_img5"></div>
                        <figcaption>
                            <p class="t_figure">레슬링 대회까지… 보고 즐기고 참여하는 서문야시장</p>
                            <p class="b_figure">MORE ></p>
                        </figcaption>
                    </a>
                </figure>
                <figure class="de_none">
                    <a href="https://www.yna.co.kr/view/AKR20180510136100053">
                        <div class="news_img6"></div>
                        <figcaption>
                            <p class="t_figure">대형화재 겪은 대구서문시장 <span>'봄내음 축제'로 거듭나</span></p>
                            <p class="b_figure">MORE ></p>
                        </figcaption>
                    </a>
                </figure>
            </article>
            <!-- <div class="swiper-pagination"></div> -->
        </section>
        <section class="events scroll">
            <div class="txt">
                <p class="up_txt">夜하게 놀자, 대한민국 대표 야시장</p>
                <p class="down_txt">서문야시장만의<span>특별이벤트!</span></p>
            </div>
            <div class="events_opt_wrap">
                <ul class="events_opt">
                    <li class="events_img1"><a href="http://www.nightseomun.com/html/base.php?url=html_07&uid=6"></a></li>
                    <li class="events_img2"><a href="http://www.nightseomun.com/html/blank.php?url=html_24"></a></li>
                    <li class="events_img3"><a href="http://www.nightseomun.com/html/base.php?url=html_22"></a></li>
                    <li class="events_img4"><a href=""></a></li>
                </ul>
            </div>
        </section>
        <section>
            <div class="sup_wrap">
                <ul class="sup">
                    <li><a href="http://www.nightseomun.com/html/base.php?url=html_22">
                        <img src="img/daegulogo.png">
                    </a></li>
                    <li><a href="https://www.jung.daegu.kr/new/pages/main/">
                        <img src="img/junggu.png">
                    </a></li>
                    <li><a href="http://dtmsa.or.kr/">
                        <img src="img/daegufound.png">
                    </a></li>
                    <li><a href="https://www.mss.go.kr/site/smba/main.do">
                        <img src="img/jungso.png">
                    </a></li>
                    <li><a href="https://www.semas.or.kr/index_main.html">
                        <img src="img/sosang.png">
                    </a></li>
                </ul>
            </div>
        </section>

 