
        <section class="intro">
            <h2>야시장 소개</h2>
            <div>
                <ul>
                    <li><a href="http://www.nightseomun.com/html/base.php?url=html_04">야시장안내</a></li>
                    <li><a class="dis_none" href="http://www.nightseomun.com/html/base.php?url=html_04">운영시간</a></li>
                    <li><a class="dis_none" href="http://www.nightseomun.com/html/base.php?url=html_17">매대위치</a></li>
                    <li><a class="dis_none" href="http://www.nightseomun.com/html/base.php?url=html_13">행사안내</a></li>
                    <li><a class="dis_none" href="http://www.nightseomun.com/html/base.php?url=html_04#map">오시는길</a></li>
                    <li><a class="plus" href="#">+</a></li>
                </ul>
            </div>
        </section>
        <section class="text">
            <h3>즉석 다문화 먹거리부터 다양한 상품들까지! 단순한 스트리트마켓이 아니다!</h3>
            <h2>글로벌하게 먹고, 마시고, 즐길 수 있는 <span>대한민국 No.1 야시장</span></h2>
        </section>
        <section class="image_wrap">
            <article class="image">
                <div class="up_text_wrap">
                    <div class="up_text">
                        <p class="up1">전 세계인과 함께하는, <span>대한민국 대표 야시장</span> ‘서문시장 야시장’
                            여러분과 함께 만들어가는 <span>夜한 테마파크!</span>
                        </p>
                        <p class="down1">
                        <span>서문시장 야시장은 2016년 6월에 개장한,
                        총거리 350M에 달하는 대형 야시장입니다.</span>
                        <span>우리나라 3대 시장인 서문시장의 밤거리를 무대로 하여
                        총 80대의 매대에서 다양한 먹거리, 살거리를 판매하며
                        매일 저녁, 시민과 관광객에게 즐거움을 선사하는 복합문화공간입니다.</span>
                        <span>특히, 먹거리 일색인 타 야시장과는 달리
                        먹거리, 볼거리, 즐길거리의 3대 요소가 연중으로 펼쳐지는
                        마법같은 관광지이기도 합니다.</span>
                        <span>밤이 즐거운 대구 야행 한옥 체험을 경험할 수 있는 서문한옥게스트하우스, 동성로와 인접한 교동게스트하우스
                        함께 운영합니다.</span>
                        </p>
                    </div>
                    <div class="up_img">
                        <div class="up_img1"></div>
                        <div class="up_img2"></div>
                        <div class="up_img3"></div>
                    </div>
                </div>
                <div class="dw_text_wrap">
                    <div class="dw_text">
                        <p class="up1">연중무휴로 펼쳐지는 <span>Night Party!</span>
                        야시장을 통한 성공적인 <span>창업상단 육성!</span>
                        </p>
                        <p class="down1">
                        <span>서문시장 야시장은 대구의 밤문화와 다양한 첨단, 문화예술이 복합되어
                        어디에서도 찾을 수 없는 경험을 제공합니다.</span>
                        <span>글로벌, 퓨전 먹거리를 비롯하여 대구에서만 찾을 수 있는 독특한 음식
                        우리의 추억과 감성을 자극하는 다양한 볼거리, 살거리가 즐비합니다.</span>
                        <span>대구로 방문하신다면 반드시 찾아가봐야 할 1순위는 단연 ‘서문시장 야시장’입니다.</span>
                        </p>
                    </div>
                    <div class="dw_img">
                        <div class="dw_img1"></div>
                        <div class="dw_img2"></div>
                        <div class="dw_img3"></div>
                    </div>
                </div>
            </article>
        </section>
        <section class="road">
            <div>
                <h2>서문시장 오시는길</h2>
            </div>
        </section>
        <section>
            <article class="map_wrap">
                <div class="map">
                    <div class="t_map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3233.196302474111!2d128.57833581436844!3d35.8687059772765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3565e376c08aad43%3A0xdd7958b01f8ee3e!2z7ISc66y47Iuc7J6lIOyVvOyLnOyepQ!5e0!3m2!1sko!2skr!4v1650610872904!5m2!1sko!2skr" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="address">
                        <h2>대구 중구 큰장로26길 45</h2>
                    </div>
                </div>
            </article>
            <article class="intro_dw_wrap">
                <div class="intro_dw">
                    <div class="time">
                        <img src="img/sub0107_img_05.png">
                        <p class="up2">운영시간</p>
                        <p class="down2">정기휴무: 화요일</p>
                    </div>
                    <div class="phone">
                        <img src="img/sub0107_img_02.png">
                        <p class="up2">연락처</p>
                        <p class="down2">053-256-6341</p>
                    </div>
                    <div class="how">
                        <img src="img/Untitled-1.png">
                        <p class="up2">오시는 방법</p>
                        <p class="down2">전철: 서문시장역</p>
                    </div>
                    <div class="ask">
                        <img src="img/sub0107_img_04.png">
                        <p class="up2">고객문의</p>
                        <p class="down2"><a href="">문의하러가기</a></p>
                    </div>
                </div>
        </article>  
           
        </section>
 