
        <h1>
            <a href="file:///E:/%EC%84%B1%EB%B3%B4%EC%97%B0/project%20pigma/main.html" target="_blank"></a>
        </h1>
        <div class="content">
            <h3 class="menu">아이디</h3>
            <input type="text" name="txt">
            <h3 class="menu">비밀번호</h3>
            <input class="pass_1" type="password" name="txt">
            <h3 class="menu">비밀번호 재확인</h3>
            <input class="pass_2" type="password" name="txt">
        </div>
        <div class="content">
            <h3 class="menu">이름</h3>
            <input type="text" name="txt" placeholder="이름 / 대표자명">
            <h3 class="menu">생년월일
                <div class="content_info">
                    <input class="year" type="text" name="year" placeholder="생년(4글자)">
                    <select class="month" name="month">
                        <option value="" disabled selected>월</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <input class="year" type="text" name="year" placeholder="일">
                </div>
            </h3>
            <h3 class="menu">성별</h3>
            <select class="sex" name="sex">
                <option value="" disabled selected>성별</option>
                <option value="1">남자</option>
                <option value="2">여자</option>
            </select>
            <h3 class="menu">본인 확인 이메일</h3>
            <input type="text" name="txt">
        </div>
        <div class="content">
            <h3 class="menu">휴대전화</h3>
            <div class="phone_wrap">
                <input type="text" name="txt" placeholder="전화번호 입력(대표번호 대체 가능)">
                <button type="button" value="인증번호 받기">인증번호 받기</button>
            </div>
            <input type="text" name="txt" placeholder="인증번호를 입력하세요">
        </div>
        <div class="content">
            <h3 class="menu"><span>*</span> 가입하게 된 경로 및 이유</h3>
            <textarea id="reaseon" name="reaseon" rows="10" cols="50"></textarea>
            <h3 class="menu"><span>*</span> 기업명 / 매대명</h3>
            <input class="pass_1" type="password" name="txt">
            <h3 class="menu"><span>*</span> 사업자등록번호 / 매대번호</h3>
            <input class="pass_2" type="password" name="txt">
        </div>
        <div class="content">
            <button class="b_join" type="button" value="가입하기">가입하기</button>
        </div>
 