
        <div class="main_img">
            <p>회원가입</p>
        </div>
       <div class="t_txt">
           <img src="img/icoHome.png">
           <ul>
               <li><a href="/"></a>홈 ></li>
               <li>회원정보 ></li>
               <li>회원가입</li>
           </ul>
       </div>
       <article class="join_txt">
           <p><span>서문시장야시장</span>에 오신 것을 환영합니다!</p>
           <p class="ar_txt">셀러가 되시면 회원유형에 특화된 서비스를 이용하실 수 있습니다.</p>
           <div class="ar_box">
               <p>-서문시장야시장은 개인 및 셀러의 보다 높은 신뢰를 다지겠습니다.
                    <br>-서문시장야시장 고객으로 가입하시는 분들의 신상정보 및 인증서 등의 정보는 개인정보보호방침에 따라 안전하게 관리 됩니다.
                    <br>-식품셀러 / 프리마켓셀러의 경우 선임된 이후 별도의 회원가입 절차없이 공동인증서 등록 후 로그인이 가능합니다.
            </p>
           </div>
           <div class="box">
               <ul>
                   <li class="left"><a href="join_sub">고객</a></li>
                   <li class="middle"><a href="join_sub">식품셀러</a></li>
                   <li class="right"><a href="join_sub">프리마켓셀러</a></li>
               </ul>
           </div>
       </article>
 