<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/intro.css">
    <link rel="stylesheet" href="css/join.css">
    <link rel="stylesheet" href="css/join_sub.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/notice.css">
    <link rel="stylesheet" href="css/notice_read.css">
    <link rel="stylesheet" href="css/notice_write.css">
    <link
      rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
</head>
<body>
    <header>
        <div class="header_wrap">
            <h1>
                <a href="/"></a>
            </h1>
            <nav>
                 <ul class="h_1">
                    <li><a href="intro">야시장소개</a></li>
                    <li><a href="">먹거리살거리</a></li>
                    <li><a href="">서문거리예술문화</a></li>
                    <li><a href="notice">참여마당</a></li>
                    <li><a href="">입점신청</a></li>
                </ul>
            </nav>
            <div class="login">
                <ul class="h_2">
                     <li><a href="join">회원가입</a></li>
                    <li><a href="login">로그인</a></li>
                </ul>
            </div>
            <div class="btn_nav">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
        <div class="footer_wrap">
            <div class="f_cs">
                <ul>
                    <li><span>고객문의</span> : gsmmarket@naver.com</li>
                    <li>|</li>
                    <li><span>제휴문의</span> : www.nightseomun.com</li>
                </ul>
            <div class="address">
                <ul>
                    <li>
                        <a href="">
                            <span>대표번호</span> : 053-621-1985</li>
                        </a>
                    <li><span>사업자등록번호</span> : 053-256-6341</li>
                </ul>
            </div>
            <div class="m_block">
                    <p><span>소재지</span> : 대구 남구 대명로 215 대구광역시상인회관4층, 재단법인 대구전통시장진흥재단ㆍ상권육성팀)</p>
            </div>
            <article class="m_block_wrap">
                <div class="m_block">
                    <p><span>책임자</span>: 재단법인 대구전통시장진흥재단ㆍ글로벌명품시장육성사업단매대관리자</p>
                    <p><span>호스팅 제공자</span> : 대구광역시 글로벌명품시장 육성사업단</p>
                </div>
                <div class="m_block_sns">
                    <a href="https://blog.naver.com/nightseomun"><img src="img/naverblog.logo.jpg"></a>
                    <a href="https://www.facebook.com/nightseomun/?hc_ref=ARRHHKP1XYw2L6Q8Qh6HV56FBtvlP86bB4FF6AUTeP2Sw1Mt2GJIr0M4NO9pPaIA4VA&fref=nf&__tn__=kC-R"><img src="img/ico-sharein-fb.png"></a>
                    <a href=""><img src="img/instalogo.png"></a>
                    <a href=""><img src="img/twitterlogo.png"></a>
                </div>
            </article>
            <div class="f_info">
                    <p>Seomun Night Market Ⓒ2016 Daegu traditional Market Support Agency. All Rights Reserved</p>
                    <div>
                        <p><a href="">CS Center</a></p>
                        <p><a href="">Privacy Policy</a></p>
                        <p><a href="">Terms & Condition</a></p>
                    </div>
            </div>
        </div>
    </footer>
</body>
</html>