
        <div class="login_top_img">
            <p>로그인</p>
        </div>
       <div class="login_t_txt">
           <img src="img/icoHome.png">
           <ul>
               <li><a href="/">홈 ></a></li>
               <li><a href="join">회원정보 ></a></li>
               <li>로그인</li>
           </ul>
       </div>
       <article class="login_tab">
           <div class="login_sub_tab">
               <div class="login_tab_l"><a href="">고객</a></div>
               <div class="login_tab_r"><a href="">식품셀러</a></div>
               <div class="login_tab_r"><a href="">프리마켓셀러</a></div>
           </div>
           <div class="login_tab_box">
                <div class="login_l_box">
                    <div>
                        <p>일반 로그인</p>
                        <div class="login_l_box_input">
                            <div>
                                <input type="text" placeholder="아이디를 입력하세요">
                                <input type="password" placeholder="비밀번호를 입력하세요">
                            </div>
                            <button type="button" value="로그인"><a href="login">로그인</a></button>
                        </div>
                        <div class="login_l_box_m_input">
                            <input type="checkbox" id="id" name="id" value="id">
                            <label for="id">아이디 저장</label>
                            <p><a href="join_sub">아이디 찾기 · 비밀번호 찾기</a></p>
                        </div>
                        <ul>
                            <li class="login_input_img1"><a href="">I-PIN 로그인</a></li>
                            <li class="login_input_img2"><a href="">카카오톡 로그인</a></li>
                            <li class="login_input_img3"><a href="">공동인증서 로그인</a></li>
                        </ul>
                    </div>
                    <div class="login_l_box_b_input">
                        <p>아직 서문시장야시장 회원이 아니신가요?</p>
                        <button type="button" value="회원가입"><a href="join">회원가입</a></button>
                    </div>
                </div>
            </div>
       </article>
  