
    <h1>updateBoard</h1>
    <% if(typeof errs !== 'undefined') { %>
        <% errs.forEach((err) => { %>
            <h3><%=err.param%> : <%=err.msg%></h3>
        <%})%>
    <%}%>
    <form method="POST" action="/updateBoard">
        <input type="hidden" name="id" value="<%=row.id%>">
        <textarea name="content">
            <%=row.content%>
        </textarea>
        <input type="submit" value="submit">
        <input type="button" value="back" onclick="javascript:location.href='/notice'"> <!--같은 페이지로 이동하면 되는거라 /만 써도 됨-->
    </form>
