.w1440 {
    width: 1440px;
    margin: auto;
    /*안에 박스를 가둬두기 위해 필요함(반응형 했을 때 영역 제한하기 위해서)*/
}

header{
    height: 79px;
    background-color: #4D3494;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_wrap{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center; /*한줄이라 align-items, 여러줄이면 align-content*/
}

.header_wrap>h1{
    width: 255px; height: 34px;
    padding: 5px auto;
    margin: auto 20px;
    box-sizing: border-box;
}

h1>a {
    display: block;
    width: 255px;
    height: 34px;
    background-image: url(../img/logo_nw.png);
    background-size: AUTO 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.h_1{
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 0 auto;
    text-align: right;
    font-size: 0;
}

.h_1>li{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.h_1>li:hover .hovermenu {
    display: block;
}

.h_1>li>a{
    position: relative;
    display: block;
    padding: 0 30px;
    line-height: 70px;
    font-size: 15px;
    color: #FFFAF6;
    box-sizing: border-box;
    transition: color .6s ease-in-out;
}

.h_1>li>a:hover{
    text-shadow: 0 0 0.5px #00305b;
}

.h_1>li:hover>a:before {
    width: 100%;
}

.h_1>li>a::before{
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #00305b;
    transform: translateX(-50%);
    transition: width .25s ease-in-out;
}

.hovermenu {
    text-align: left;
    display: none; 
    position: absolute;
    left: 50%;
    min-width: 100%;
    padding: 20px 34px;
    background-color: #ffffff;
    z-index: -1;
    transform: translateX(-50%);
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    z-index: 9;
}

.hovermenu>li>a {
    display: block;
    white-space: nowrap;
    font-size: 15px;
    line-height: 2.67;
    color: #646464;
    transition: color 0.25s ease-in-out;
    font-weight: 700;
}

.hovermenu>li>a:hover {
    text-shadow: 0 0 0.5px #00305b;
    color: #00305b;
} 

.header_wrap>.h_2{
    width: 255px;
    display: flex;
}

.h_2{
    display: flex;
}

.h_2>li{
    font-size: 15px;
    margin: 0 10px;
    color: #FFFAF6;
}

.h_2>li>a{
    font-size: 15px;
    margin: 0 10px;
    color: #FFFAF6;
}

.btn_nav{
    display: none;
}

.btn_nav>span{
    display: block;
    width: 40px; height: 3px;
    background-color: #333;
    margin: 5px 10px;
}

#logout {
    display: none;
}

footer {
    background-color: #f3f3f3;
    color: #707070;
    /* 1C1C1C, 333333, 494949, 777777 */
    padding: 60px 0;
    font-weight: 500;
}

.foot_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot_logo {
    display: block;
    width: 192px;
}

.foot_logo>img {
    width: 100%; height: auto;
}

.foot_info {
    font-size: 14px;
    line-height: 20px;
    color: #707070;
    font-weight: 700;
    margin-left: -100px;
}

.foot_info>li:last-child {
    margin-top: 8px;
}

.foot_rigth {
    text-align: right;
}

.foot_rigth li:last-child {
    font-size: 12px;
    line-height: 18px;
    color: #707070;
    margin-top: 10px;
    font-weight: 700;
}

.foot_rigth li>a {
    font-size: 14px;
    line-height: 20px;
    color: #707070;
    font-weight: 700;
}

.foot_rigth li>a:nth-child(2) {
    font-size: 15px;
    color: #4D3494;
    font-weight: 700;
}



@media only screen and (max-width: 1280px) {

    .w1440 {
        width: 100%;
    }

    .header_wrap{
        width: 100%;
    }

    h1>a{
        height: 35px;
    }

    .h_1>li>a {
        margin: 0 10px;
        font-size: 14px;
        padding: 5px;
        box-sizing: border-box;
    }

    .h_2>li{
        font-size: 14px;
    }

    .h_2>li>a{
        font-size: 14px;
        padding: 5px; /*3px*/
        box-sizing: border-box;
        /* white-space: nowrap; */
    }

    .btn_nav{
        display: none;
    }

    .foot_wrap {
        padding: 0 40px;
        box-sizing: border-box;
    }

    .foot_info {
        margin-left: 0;
        padding-left: 30px;
        box-sizing: border-box;
    }

    .foot_info>li>span {
        display: inline-block;
    }

}



@media only screen and (max-width: 1217px){

    .h_1>li>a {
        margin: 0 7px;
        font-size: 13px;
    }

    .h_2>li{
        font-size: 13px;
    }

    .h_2>li>a{
        font-size: 13px;
    }

}


@media only screen and (max-width: 989px) {

    .header_wrap>h1{
        width: 155px;
    }

    h1>a{
        width: 180px; height: 30px;
    }

    .h_1>li>a {
        margin: 0 -1px;
        font-size: 12px;
        padding: 7px;
    }

    .h_2>li{
        font-size: 12px;
    }

    .h_2>li>a{
        font-size: 12px;
    }

    .foot_wrap {
        display: block;
        text-align: left;
        padding-left: 30px;
    }

    .foot_info {
        padding: 30px 0;
    }

    .foot_rigth {
        text-align: left;
    }


}


@media only screen and (max-width: 768px) {

    .dis_none{
        display: none;
    }

    .header_wrap{
        height: 70px;
    }

    h1>a{
        height: 34px;
    }

    .btn_nav{
        display: block;
    }

    .h_1{
        display: none;
    }
    
    .header_wrap>.login{
        display: none;
    }

    .foot_txt {
        display: block;
        font-size: 38px;
        font-weight: normal;
        margin-bottom: 19px;
    }
        
    .foot_logo2 {
        display: flex;
    }

    .foot_logo2>li>img {
        margin-right: 20px;
    }

    .foot_info {
        font-size: 12px;
    }

    .foot_info>li:last-child {
        margin-top: 0;
    }

    .foot_rigth li>a {
        font-size: 12px;
    }

}