.index_t_img{
    height: 890px;
    background-image: url(../img/seomun5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.index_txt{
    margin-top: 10%;
}

.index_txt:last-child{
    margin-top: 8%;
}

.up_txt{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.down_txt{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.down_txt>span{
    color: #4D3494;
}

.vedio{
    width: 1217px; height: 450px;
    margin: auto;
    padding-top: 5%;
    display: flex;
}

.vedio_nt{
    width: 299px;
    text-align: right;
    background-color: rgba(170, 150, 251, 80%);
}

.vedio_nt>div{
    padding-top: 50%;
}

.vedio_up{
    display: block;
    font-size: 18px;
    color: #FFFAF6;
    padding-bottom: 30px;
}

.vedio_down{
    display: block;
    font-size: 16px;
    color: #FFFAF6;
}

.youtube>iframe{
    width: 918px; height: 450px;
}

.main_info{
    width: 1217px; height: 518px;
    margin: auto;
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
}

.info_fg{
    width: 25%;
    padding: 30px 10px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-right: 20px;
    position: relative;
    box-shadow: 5px 5px 3px rgb(0, 0, 0, 0.1);
}

.info_fg>a{
    display: block;
    width: 100%;
}

.info_fg>a>div{
    width: 100%;
    padding-top: 177%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.t_figure{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #333;
    padding-bottom: 20px;
    width: 100%;
    position: absolute;
    bottom: 20%; left: 50%;
    transform: translate(-50%, -20%);
}

.b_figure{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    flex-wrap: wrap;
    color: #333;
    width: 100%;
    position: absolute;
    bottom: 10%; left: 50%;
    transform: translate(-50%, -10%);
}

.b_figure>span{
    display: block;
}

.info_img1{
    background-image: url(../img/mainsell.png);
}

.info_img2{
    background-image: url(../img/introduction.png);
}

.info_img3{
    background-image: url(../img/seomunfood.png);
}

.info_img4{
    background-image: url(../img/bg_sec01_04.png);
}

.index_news{
    width: 1217px; height: 518px;
    margin: auto;
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
}

.news_fg{
    width: 25%;
    padding: 30px 10px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-right: 20px;
    position: relative;
    box-shadow: 5px 5px 3px rgb(0, 0, 0, 0.1);
}

.news_fg>a{
    display: block;
    width: 100%;
}

.news_fg>a>div{
    width: 100%;
    padding-top: 96.4%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.news_fg figcaption>.t_figure{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #333;
    padding-bottom: 20px;
    width: 100%;
    position: absolute;
    bottom: 20%; left: 50%;
    transform: translate(-50%, -20%);
}

.news_fg figcaption>.b_figure{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    flex-wrap: wrap;
    color: #333;
    width: 100%;
    position: absolute;
    bottom: 10%; left: 50%;
    transform: translate(-50%, -10%);
}

.news_fg figcaption>.b_figure>span{
    display: block;
}

.news_img1{
    background-image: url(../img/cuttlefishgame.png);
}

.news_img2{
    background-image: url(../img/traditional.png);
}

.news_img3{
    background-image: url(../img/songfestival.png);
}

.news_img4{
    background-image: url(../img/foodpoision.png);
}

.bnr_dot{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.bnr_dot>li>a{
    display: block;
    width: 14px; height: 14px;
    border-radius: 20px;
    margin: 0 5px;
    border: 2px solid #7d7d7d;
}

.bnr_dot>.active_dot{
    border-radius: 50%;
    margin-right: 8px;
    background-color: #7d7d7d;
}

.events_opt_wrap{
    width: 1217px;
    margin: auto;
    margin-top: 3%;
}

.events_opt{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.events_opt>li{
    margin: 1%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 5px 5px 3px rgb(0, 0, 0, 7%);
    transition: transform 0.4s;
}

.events_opt>li>a{
    display: block;
    width: 470px; height: 210px;
}

.events_img1{
    background-image: url(../img/order.png);
}

.events_img2{
    background-image: url(../img/mission.png);
}

.events_img3{
    background-image: url(../img/recruit.png);
}

.events_img4{
    background-image: url(../img/seller.png);
}

.sup_wrap{
    width: 1217px;
    margin: 1% auto;
}

.sup{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding: 0% 10%;
    box-sizing: border-box;
}

.sup>li{
    margin-right: 1%;
    width: 20%;
    box-shadow: 5px 5px 3px rgb(0, 0, 0, 7%);
}

.sup img{
    width: 100%;
    align-items: center;
    transition: transform 0.4s;
}

.sup>li:hover img{
    transform: translate(0, -20px);
}







@media only screen and (max-width: 1280px) {

    .index_t_img{
        height: 855px;
    }

    .vedio{
        width: 94%;
    }

    .main_info, .index_news{
        width: 94%;
        padding-top: 2%;
    }
    
    .info_fg{
        margin-right: 24px;
    }

    .news_fg{
        margin-right: 24px;
    }

    .events_opt_wrap{
        width: 94%;
        margin-top: 2%;
    }

    .sup_wrap{
        width: 94%;
    }
    
    .sup{
        margin-bottom: 20px;
        padding: 0% 7%;
    }
    
    .sup>li{
        margin-right: 1.5%;
    }

}



@media only screen and (max-width: 1217px){

    .index_t_img{
        height: 592px;
    }

    .up_txt{
        font-size: 17px;
    }
    
    .down_txt{
        font-size: 20px;
    }
    
    .vedio{
        display: flex;
        flex-direction: column-reverse;
        width: 80%; height: 386px;
        padding-top: 5%;
    }

    .vedio_nt{
        width: 100%;
    }
    
    .vedio_nt>div{
        padding: 2% 0%;
        text-align: center;
    }
    
    .vedio_up{
        font-size: 17px;
        padding-bottom: 1%;
    }
    
    .youtube>iframe{
        width: 100%; height: 311px;
    }

    .main_info, .index_news{
        width: 85%; height: 90%;
    }

    .info_fg{
        padding: 30px 9px;
        margin-top: 5%;
        margin-right: 21px;
    }

    .info_fg>a>div {
        padding-top: 179%;
    } 

    .t_figure{
        padding-bottom: 4%;
        left: 51%;
    }

    .b_figure{
        bottom: 7%; left: 51%;
        transform: translate(-51%, -7%);
    }

    .news_fg{
        padding: 30px 9px;
        margin-top: 5%;
        margin-right: 21px;
    }

   .news_fg>a>div {
        padding-top: 179%;
    }

    .news_fg figcaption>.t_figure{
        padding-bottom: 4%;
        left: 51%;
    }

    .news_fg figcaption>.b_figure{
        bottom: 7%; left: 51%;
        transform: translate(-51%, -7%);
    }
    
    .bnr_dot>li>a{
        width: 12px; height: 12px;
    }

    .events_opt>li>a{
        width: 403px; height: 182px;
    }

    .sup_wrap{
        width: 100%;
    }


}




@media only screen and (max-width: 989px) {

    .index_t_img {
        height: 462px;
    }

    .index_txt {
        margin-top: 12%;
    }

    .up_txt {
        font-size: 16px;
    }

    .down_txt {
        font-size: 18px;
    }

    .vedio {
        padding-top: 4%;
    }

    .vedio_nt>div{
        padding: 1% 0%;
    }

    .vedio_up{
        font-size: 16px;
    }

    .vedio_down{
        font-size: 14px;
    }

    .main_info, .index_news {
        width: 90%;
    }

    .info_fg{
        padding: 35px 5px;
        margin-right: 19px;
    }

    .info_fg>a>div {
        padding-top: 181%;
    }

    .t_figure{
        padding-bottom: 6%;
        left: 52%;
        font-size: 15px;
    }

    .b_figure{
        bottom: 6%;
        transform: translate(-51%, -6%);
        font-size: 14px;
    }

    .news_fg{
        padding: 35px 5px;
        margin-right: 19px;
    }

    .news_fg>a>div {
        padding-top: 181%;
    }

    .news_fg figcaption>.t_figure{
        padding-bottom: 6%;
        left: 52%;
        font-size: 15px;
    }

    .news_fg figcaption>.b_figure{
        bottom: 6%;
        transform: translate(-51%, -6%);
        font-size: 14px;
    }

    .bnr_dot {
        margin-top: 5%;
    }

    .bnr_dot>li>a {
        width: 10px; height: 10px;
    }

    .events_opt>li>a{
        width: 321px; height: 142px;
    }

}



@media only screen and (max-width: 768px) {

    .index_t_img{
        height: 293px;
    }

    .index_txt{
        padding-top: 10%;
    }
    
    .up_txt{
        font-size: 15px;
    }
    
    .down_txt{
        font-size: 16px;
    }
    
    .vedio{
        width: 90%; height: auto;
        padding-top: 4%;
    }
    
    .vedio_up{
        font-size: 14px;
        padding-bottom: 2%;
    }
    
    .vedio_down{
        font-size: 12px;
    }
    
    .youtube>iframe{
        height: 280px;
    }

    .info_fg{
        padding: 27px 3px;
        margin-right: 13px;
    }

    .info_fg>a>div {
        padding-top: 192%;
    }

    .t_figure{
        padding-bottom: 2%;
        left: 53%;
        font-size: 13px;
    }

    .b_figure{
        bottom: 4%;
        transform: translate(-51%, -4%);
        font-size: 11px;
    }

    .news_fg{
        padding: 27px 3px;
        margin-right: 13px;
    }

    .news_fg>a>div {
        padding-top: 192%;
    }

    .news_fg figcaption>.t_figure{
        padding-bottom: 2%;
        left: 53%;
        font-size: 13px;
    }

    .news_fg figcaption>.b_figure{
        bottom: 4%;
        transform: translate(-51%, -4%);
        font-size: 11px;
    }

    .bnr_dot>li>a {
        width: 8px; height: 8px;
    }

    .events_opt>li>a{
        width: 210px; height: 92px;
    }

    .sup {
        padding: 0% 6%;
    }

}



@media only screen and (max-width: 486px) {

    .index_t_img {
        height: 192px;
    }

    .index_txt {
        padding-top: 14%;
    }

    .up_txt {
        font-size: 12px;
    }

    .down_txt {
        font-size: 13px;
    }

    .vedio {
        width: 86%;
        padding-top: 5%;
    }

    .vedio_up {
        font-size: 12px;
    }

    .vedio_down {
        font-size: 10px;
    }

    .youtube>iframe {
        height: 205px;
    }

    .main_info{
        flex-wrap: wrap;
    }

    .info_fg{
        width: calc(50% - 13px);
        padding: 18px 3px;
        margin-right: 13px;
    }

    .info_fg>a>div {
        padding-top: 179%;
    }

    .t_figure{
        padding-bottom: 3%;
        left: 51%;
    }

    .b_figure{
        bottom: 7%; left: 52%;
        transform: translate(-52%, -7%);
    }

    .index_news{
        flex-wrap: wrap;
    }

    .news_fg{
        width: calc(50% - 13px);
        padding: 18px 3px;
        margin-right: 13px;
    }

    .news_fg>a>div {
        padding-top: 179%;
    }

    .news_fg figcaption>.t_figure{
        padding-bottom: 3%;
        left: 51%;
    }

    .news_fg figcaption>.b_figure{
        bottom: 7%; left: 52%;
        transform: translate(-52%, -7%);
    }

    .events_opt>li>a {
        width: 133px; height: 57px;
    }

}