.notice_read_intro{
    width: 100%; height: 431px;
    position: relative;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    background-image: url(../img/notice.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.notice_read_intro>h2{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%);
    text-align: center;
    line-height: 36px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    padding: 30px auto;
    box-sizing: border-box;
}

.notice_read_intro>div{
    width: 665px;
}

.notice_read_intro>div>ul{
    display: flex;
    justify-content: space-between;
}

.notice_read_intro>div>ul>li>a{
    margin: 10px auto;
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.plus{
    display: none;
}

.notice_read_notice>h2{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin:50px auto;
    padding: 30px;
    box-sizing: border-box;
}

.notice_read_nav{
    width: 1440px;
    margin: auto;
    align-content: center;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #777777;
}

.notice_read_nav>p{
    font-size: 25px;
    font-weight: bold;
    margin: 5px 0 10px;
    text-align: left;
}

.notice_read_nav>div{
    display: flex;
    justify-content: space-between;
}

.notice_read_nav ul{
    display: flex;
}

.notice_read_nav ul>li{
    margin-right: 20px;
}

.master{
    font-weight: bold;
    font-size: 20px;
}

.re{
    font-size: 18px;
    font-weight: bold;
    color: #7e868c;
    margin-top: 5px;
}

.re>img{
    width: 18px; height: 18px;
}

.look{
    font-size: 18px;
    font-weight: bold;
    color: #7e868c;
    margin-top: 5px;
}

.look>img{
    width: 24px; height: 24px;
}

.clock{
    font-size: 18px;
    font-weight: bold;
    color: #7e868c;
}

.clock>img{
    width: 18px; height: 18px;
}

.notice_read_file{
    width: 1440PX;
    margin: auto;
    padding: 0 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    background: #f5f6fa;
}

.notice_read_file li{
    margin-bottom: 10px;
}

.notice_read_file a{
    display: block;
}

.notice_read_file a>p{
    color: #000;
    font-weight: bold;
}

.notice_read_file a>span{
    margin: 0 0 3px 16px;
    color: #444;
    font-size: 14px;
}

.notice_read_txt>div{
    width: 1440px;
    margin: auto;
    line-height: 3;
    padding: 20px;
    box-sizing: border-box;
}

.notice_read_txt p{
    font-size: 12pt;
    margin-bottom: 15px;
}

.notice_read_txt span{
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    color: #000;
}

.notice_read_but {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.notice_read_but>a{
    width: 42px;
    margin: 30px 0; 
    cursor: pointer;
    margin-right: 5px;
    border-radius: 2px;
    padding: 7px;
    border: 1px solid #333;
    background: #fff;
    color: #333;
    text-align: center;
}




@media only screen and (max-width: 1217px) {

    .notice_read_nav{
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        margin: 0 5px;
    }
    
    .nanotice_read_nav>p{
        font-size: 22px;
        margin: 5px 0 10px;
    }
    
    .notice_read_nav ul>li{
        margin-right: 18px;
    }
    
    .master{
        font-size: 18px;
    }
    
    .re{
        font-size: 16px;
    }

    .re>img{
        width: 20px; height: 20px;
    }
    
    .look{
        font-size: 16px;
    }

    .look>img{
        width: 23px; height: 23px;
    }
    
    .clock{
        font-size: 16px;
    }

    .notice_read_file{
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        margin: 0 5px;
    }

    .notice_read_file a>span{
        margin: 0 0 3px 16px;
        color: #444;
        font-size: 14px;
    }

    .notice_read_txt>div{
        width: 100%;
        line-height: 3;
        padding: 20px;
        box-sizing: border-box;
    }
    
    .notice_read_txt span{
        font-size: 20px;
    }
    
    .notice_read_but{
        width: 100%;
        padding-bottom: 40px;
        margin-left: 5px;
    }
    
    .notice_read_but input{
        margin-right: 5px;
        padding: 7px;
    }

    

    /************* max-width: 1217px ***********/
}


@media only screen and (max-width: 768px) {

    .notice_read_nav{
        width: 100%;
        padding: 20px;
        margin: 0 5px;
    }
    
    .notice_read_nav>p{
        font-size: 21px;
        margin: 5px 0 10px;
    }
    
    .nanotice_read_nav ul>li{
        margin-right: 20px;
    }
    
    .master{
        font-size: 18px;
    }
    
    .re{
        font-size: 16px;
    }
    
    .re>img{
        width: 18px; height: 18px;
    }
    
    .look{
        font-size: 16px;
    }
    
    .look>img{
        width: 21px; height: 21px;
    }
    
    .clock{
        font-size: 16px;
    }
    
    .clock>img{
        width: 18px; height: 18px;
    }

    .notice_read_file{
        width: 100%;
    }

    .txt>div{
        width: 100%;
        padding: 18px;
        box-sizing: border-box;
    }
    
    .notice_read_txt span{
        font-size: 18px;
    }
    
    .notice_read_but{
        width: 100%;
        padding-bottom: 35px;
        margin-left: 5px;
    }
    
    .notice_read_but input{
        padding: 7px;
    }
    
    /************** max-width: 768px **************/
}