.notice_write>h2{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}

.notice_write>form{
    width: 1440px;
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
}

.noWrite_tb{
    width: 100%;
}

.noWrite_td{
    border: 1px solid #4e616a;
    background: #f4f4f4;
    line-height: 20px;
    color: #383838;
    font-size: 0.95em;
    text-align: center;
    letter-spacing: -0.1em;
    font-weight: bold;
}

.noWrite_ipt{
    border: 1px solid #4e616a;
    color: #383838;
    font-size: 0.95em;
    text-align: center;
    letter-spacing: -0.1em;
    line-height: 30px;
    word-break: break-all;
}

.noWrite_ipt>input{
    width: 300px; height: 30px;
}

.notice_write_inputs{
    display: flex;
    justify-content: flex-end;
}

.notice_write_inputs>input{
    width: 100px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #4e546f;
    background: #d4d4d4;
    border-radius: 4px;
    margin: 20px 5px;
    border: none;
    font-weight: 700;
}



@media only screen and (max-width: 1580px){

    .notice_write{
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .notice_write>h2{
        font-size: 23px;
        padding: 20px auto;
        box-sizing: border-box;
    }

    .notice_write>form{
        width: 100%;
    }

    .noWrite_tb{
        width: 100%;
    }
    
    .noWrite_ipt>input{
        max-width: 250px;
    }

}




@media only screen and (max-width: 1217px) {

    .noWrite_td{
        width: 25%;
    }
    
    .noWrite_ipt>input{
        max-width: 230px;
    }

    .notice_write_inputs>input{
        width: 100px;
        text-align: center;
        line-height: 30px;
        font-size: 16px;
        color: #4e546f;
        background: #d4d4d4;
        border-radius: 4px;
        margin: 20px 5px;
        border: none;
        font-weight: 700;
    }


}

@media only screen and (max-width: 768px) {

    .notice_write{
        width: 100%;
        padding: 18px;
        box-sizing: border-box;
    }
    
    .notice_write>h2{
        font-size: 21px;
        padding: 20px auto;
        box-sizing: border-box;
        margin-bottom: 30px;
    }
    
    .notice_write>form{
        width: 100%;
    }
    
    .noWrite_tb{
        width: 100%;
        text-align: center;
    }
    
    .noWrite_tb td{
        padding: 20px 10px;
    }

}